.sidenav-wrapper {
   background-color: rgb(255, 255, 255);
   width: 200px;
   height: 100%;
   position: fixed;
   border-radius: 0px 10px 10px 10px ;
}
.category-list > a{
   text-decoration: none;
   color: black;

}
.category-list > a >h4 {
   margin-top: 5px;
   padding-left: 15px;
   transition: all 0.1s ease-in-out;
}
.category-list > a >h4:hover {
   background-color: #1bab6e;
   border-radius: 8px;
}