.categories {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: 3px;
}
.categories > li {
   list-style: none;
}

.product-card {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}