.main-container {
   position: sticky;
   top: 63px;
   z-index: 99;
}
.category-nav {
   background-color: #fff;
   height: 27px;
}
.categories {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.categories > li {
   list-style: none;
}
