.category {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.category-list {
   margin: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   top: 150px;
}
.category-list h4 {
   background-color: rgb(216, 216, 216);
   padding: 15px 25px; 
   border-radius: 10px;
}
.category-list a {
   text-decoration: none;
   color: black;
}